<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sisp.dao.QuestionEntityMapper">
    <resultMap id="questionEntityMap" type="com.sisp.entity.QuestionEntity">
        <result column="problem_name" property="problemName"/>
        <result column="must_answer" property="mustAnswer"/>
        <result column="left_title" property="leftTitle"/>
        <result column="questionnaire_id" property="questionnaireId"/>
    </resultMap>


    <insert id="insert">
        INSERT INTO question_info (`id`, `problem_name`, `type`, `must_answer`, `left_title`, `questionnaire_id`, `order`) VALUES (#{id}, #{problemName}, #{type}, #{mustAnswer}, #{leftTitle}, #{questionnaireId}, #{order})
    </insert>
    <select id="queryQuestionList" resultMap="questionEntityMap">
        select * from question_info
        <where>
            <if test="id != null and id != ''">
                id = #{id} and
            </if>
            <if test="type != null and type != ''">
                type = #{type} and
            </if>
            <if test="questionnaireId != null and questionnaireId != ''">
                questionnaire_id = #{questionnaireId} and
            </if>
            1 = 1
        </where>
        order by `order`

    </select>
    <select id="queryTemplateQuestionList" resultMap="questionEntityMap">
        select * from question_template_info
        <where>
            <if test="id != null and id != ''">
                id = #{id} and
            </if>
            <if test="type != null and type != ''">
                type = #{type} and
            </if>
            1 = 1
        </where>
    </select>

</mapper>