<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sisp.dao.QuestionnaireEntityMapper">
    <insert id="insert" parameterType="com.sisp.entity.QuestionnaireEntity">
        insert into questionnaire_info (`id`, `questionnaire_name`, `questionnaire_description`, `start_time`, `stop_time`, `created_by`, `last_updated_by`, `creation_date`, `status`, `project_id`, `last_update_date`, `type`) values(#{id}, #{questionnaireName}, #{questionnaireDescription}, #{startTime}, #{stopTime}, #{createdBy}, #{lastUpdatedBy}, #{creationDate}, #{status}, #{projectId}, #{lastUpdateDate}, #{type})
    </insert>
    <select id="queryQuestionnaireList" resultType="com.sisp.entity.QuestionnaireEntity">
        select * from questionnaire_info
        <where>
            <if test="projectId != null and projectId != ''">project_id = #{projectId} and</if>
            <if test="id != null and id != ''">id = #{id} and</if>
        </where> status != '3'

    </select>


</mapper>