<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sisp.dao.RecordEntityMapper">
    <resultMap id="recordEntityResultMap" type="com.sisp.entity.RecordEntity">
        <result column="answered_by" property="answeredBy"/>
        <result column="answer_date" property="answerDate"/>
        <result column="questionnaire_id" property="questionnaireId"/>
    </resultMap>
    <insert id="insert">
        insert into record_info values (#{id}, #{answeredBy}, #{answerDate}, #{questionnaireId})
    </insert>
    <select id="queryRecordList" resultMap="recordEntityResultMap">
        select * from record_info
        <where>
            <if test="answeredBy != null and answeredBy != ''">answered_by = #{answeredBy} and</if>
            <if test="id != null and id != ''">id = #{id} and</if>
            <if test="questionnaireId != null and questionnaireId != ''">questionnaire_id = #{questionnaireId} and</if>
            1 = 1
        </where>
    </select>


</mapper>